flows-linux-v1.json
[
    {
        "id": "10cee346a54fd2e6",
        "type": "tab",
        "label": "EmotionFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e7cdee2d5401d4f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43e522ba61c62d68",
        "type": "ui_tab",
        "name": "Record Audio",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22f3a2f009b14295",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Emotion Detection",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ff177fb0006a8f6",
        "type": "ui_group",
        "name": "Press button to record new audio clip.",
        "tab": "43e522ba61c62d68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "546a65de6ee917ed",
        "type": "ui_spacer",
        "z": "10cee346a54fd2e6",
        "name": "spacer",
        "group": "9ff177fb0006a8f6",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "aac61eb160710a78",
        "type": "ui_spacer",
        "z": "10cee346a54fd2e6",
        "name": "spacer",
        "group": "9ff177fb0006a8f6",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "0e5c14e036b08348",
        "type": "ui_spacer",
        "z": "10cee346a54fd2e6",
        "name": "spacer",
        "group": "9ff177fb0006a8f6",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "7d858ea23edbd8da",
        "type": "ui_spacer",
        "z": "10cee346a54fd2e6",
        "name": "spacer",
        "group": "9ff177fb0006a8f6",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "3fbf8887895b63ae",
        "type": "ui_tab",
        "name": "Switch",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3fcad81b00f16369",
        "type": "ui_group",
        "name": "Switch Light On/Off",
        "tab": "3fbf8887895b63ae",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7374d528d1ff686",
        "type": "file",
        "z": "10cee346a54fd2e6",
        "name": "writewavfile",
        "filename": "/home/allanregistos/apps/emotiond/test1.wav",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a7a3fc080c10083e"
            ]
        ]
    },
    {
        "id": "db815f6581079789",
        "type": "ui_microphone",
        "z": "10cee346a54fd2e6",
        "name": "Record Emotion",
        "group": "9ff177fb0006a8f6",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxLength": "3",
        "maxRecogLength": 5,
        "timeslice": 0,
        "press": "click",
        "mode": "audio",
        "interimResults": false,
        "x": 80,
        "y": 120,
        "wires": [
            [
                "e7374d528d1ff686",
                "7fd51a12f3f78d52"
            ]
        ]
    },
    {
        "id": "7fd51a12f3f78d52",
        "type": "ui_audio",
        "z": "10cee346a54fd2e6",
        "name": "audioout",
        "group": "9ff177fb0006a8f6",
        "voice": "Microsoft James Online (Natural) - English (Philippines)",
        "always": "",
        "x": 280,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ea15ee532d5fed0",
        "type": "function",
        "z": "10cee346a54fd2e6",
        "d": true,
        "name": "parsetext",
        "func": "const inputString = msg.payload; // Your Python Script output\n\n// Regular expression to find lines with emotions and values\nconst emotionLinesRegex = /\\\\([\\w\\f]*)\\\\\\s+([0-9.]+)/g; \n\nlet emotions = {};\nlet currentMatch;\n\n// Extract emotions and values into a dictionary\nwhile ((currentMatch = emotionLinesRegex.exec(inputString)) !== null) {\n    emotions[currentMatch[1]] = parseFloat(currentMatch[2]);\n}\n\n// Find the emotion with the highest value\nlet highestValue = 0;\nlet dominantEmotion = null;\n\nfor (const emotion in emotions) {\n    if (emotions[emotion] > highestValue) {\n        highestValue = emotions[emotion];\n        dominantEmotion = emotion;\n    }\n}\n\nif (dominantEmotion) {\n    msg.payload = dominantEmotion;\n} else {\n    // Handle the case where no emotions are found (optional)\n    return null; \n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n// Suppose the result from the previous component is stored in msg.payload\n",
        "libs": [],
        "x": 640,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "6a46d0d17435be27",
        "type": "ui_text",
        "z": "10cee346a54fd2e6",
        "group": "9ff177fb0006a8f6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "displayprob",
        "label": "Emotion detected:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "f950558ef1f8a3e0",
        "type": "function",
        "z": "10cee346a54fd2e6",
        "name": "fcolor",
        "func": "var result = msg.payload;\n\nresult = result.toLowerCase().trim();\n\nif (result === \"anger\") {\n    msg.payload = \"Blue\";\n} else if (result === \"sad\") {\n    msg.payload = \"Pale Yellow\";\n} else if (result === \"happy\") {\n    msg.payload = \"Light Yellow\";\n} else if (result === \"neutral\") {\n    msg.payload = \"Beige White\";\n} else {\n    msg.payload = \"\" + result + \" was not yet supported. Please use the correct model.\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 220,
        "wires": [
            [
                "9dd20b08d47bc8a3",
                "108739be77b58cd1"
            ]
        ]
    },
    {
        "id": "9dd20b08d47bc8a3",
        "type": "ui_text",
        "z": "10cee346a54fd2e6",
        "group": "9ff177fb0006a8f6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "colorname",
        "label": "Color:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "59abdee2463cb960",
        "type": "status",
        "z": "10cee346a54fd2e6",
        "name": "status",
        "scope": [
            "a7a3fc080c10083e"
        ],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "6a46d0d17435be27"
            ]
        ]
    },
    {
        "id": "d63fcaf5bc428140",
        "type": "debug",
        "z": "10cee346a54fd2e6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "bb0d455785b5e9ba",
        "type": "catch",
        "z": "10cee346a54fd2e6",
        "name": "catcherr",
        "scope": [
            "4ea15ee532d5fed0",
            "a7a3fc080c10083e",
            "b63c268bc2fa970f"
        ],
        "uncaught": false,
        "x": 180,
        "y": 20,
        "wires": [
            [
                "d63fcaf5bc428140"
            ]
        ]
    },
    {
        "id": "2c79bc598d90ba85",
        "type": "ui_audio",
        "z": "10cee346a54fd2e6",
        "name": "speakemot",
        "group": "9ff177fb0006a8f6",
        "voice": "Microsoft James Online (Natural) - English (Philippines)",
        "always": "",
        "x": 1270,
        "y": 320,
        "wires": []
    },
    {
        "id": "af94d50440609ac6",
        "type": "function",
        "z": "10cee346a54fd2e6",
        "name": "setemo",
        "func": "var result = msg.payload;\nmsg.payload = \"Emotion detected was \" + result + \".\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "2c79bc598d90ba85"
            ]
        ]
    },
    {
        "id": "a7a3fc080c10083e",
        "type": "pythonshell in",
        "z": "10cee346a54fd2e6",
        "name": "exe",
        "pyfile": "/home/allanregistos/apps/emotiond/lib/python3.11/site-packages/deep_audio_features/bin/basic_test_mod.py",
        "virtualenv": "/home/allanregistos/apps/emotiond",
        "continuous": true,
        "stdInData": true,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "f6a0042056381c67",
                "9295a0ae845d3d57"
            ]
        ],
        "icon": "font-awesome/fa-file-code-o"
    },
    {
        "id": "cdc4d0b38ae45217",
        "type": "ui_audio",
        "z": "10cee346a54fd2e6",
        "name": "speakcolor",
        "group": "9ff177fb0006a8f6",
        "voice": "Microsoft James Online (Natural) - English (Philippines)",
        "always": "",
        "x": 1190,
        "y": 460,
        "wires": []
    },
    {
        "id": "108739be77b58cd1",
        "type": "function",
        "z": "10cee346a54fd2e6",
        "name": "commandchange",
        "func": "var result = msg.payload;\n\nresult = result.toLowerCase().trim();\nmsg.payload = \"The color of the light was changed to \" + result + \".\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 420,
        "wires": [
            [
                "cdc4d0b38ae45217",
                "812564275539335b"
            ]
        ]
    },
    {
        "id": "f6a0042056381c67",
        "type": "function",
        "z": "10cee346a54fd2e6",
        "name": "getEmotion",
        "func": "const lines = msg.payload;\n\n// Split the string on whitespace\nconst words = lines.split(\" \");\n\n// Extract the first word (the emotion)\nlet emotion = words[0]; \n\nmsg.payload = emotion;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "6a46d0d17435be27",
                "f950558ef1f8a3e0",
                "af94d50440609ac6"
            ]
        ]
    },
    {
        "id": "9295a0ae845d3d57",
        "type": "debug",
        "z": "10cee346a54fd2e6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "4317f9b466fe98da",
        "type": "ui_text",
        "z": "10cee346a54fd2e6",
        "group": "9ff177fb0006a8f6",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "credits",
        "label": "Audio datasets credits:",
        "format": "https://tspace.library.utoronto.ca/handle/1807/24487 dagshub.com",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "13",
        "color": "#787878",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "db1a5cf6cd582840",
        "type": "ui_text",
        "z": "10cee346a54fd2e6",
        "group": "9ff177fb0006a8f6",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "tuyaapi",
        "label": "Tuya API:",
        "format": "https://github.com/tuya/tuya-connector-python",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "13",
        "color": "#787878",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "812564275539335b",
        "type": "debug",
        "z": "10cee346a54fd2e6",
        "name": "speakdebug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "c867f5b8c188f73b",
        "type": "pythonshell in",
        "z": "5e7cdee2d5401d4f",
        "name": "Switch_Off",
        "pyfile": "/home/allanregistos/apps/emotiond/lib/python3.11/site-packages/deep_audio_features/bin/switch_off.py",
        "virtualenv": "/home/allanregistos/apps/emotiond",
        "continuous": true,
        "stdInData": true,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "2334ceb57ab36af1"
            ]
        ]
    },
    {
        "id": "2334ceb57ab36af1",
        "type": "ui_text",
        "z": "5e7cdee2d5401d4f",
        "group": "3fcad81b00f16369",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "78dfa6e6e6ca4b0d",
        "type": "pythonshell in",
        "z": "5e7cdee2d5401d4f",
        "name": "Switch_On",
        "pyfile": "/home/allanregistos/apps/emotiond/lib/python3.11/site-packages/deep_audio_features/bin/switch_on.py",
        "virtualenv": "/home/allanregistos/apps/emotiond",
        "continuous": true,
        "stdInData": true,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "2334ceb57ab36af1"
            ]
        ]
    },
    {
        "id": "098ef10bbdea1738",
        "type": "debug",
        "z": "5e7cdee2d5401d4f",
        "name": "CleanMsgd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "3efa0e154f146cde",
        "type": "ui_switch",
        "z": "5e7cdee2d5401d4f",
        "name": "SwitchLed",
        "label": "Switch",
        "tooltip": "65216",
        "group": "3fcad81b00f16369",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "c867f5b8c188f73b",
                "78dfa6e6e6ca4b0d",
                "098ef10bbdea1738"
            ]
        ]
    }
]